/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,700&family=Quicksand:wght@400;500;700&display=swap');
/* Removes all margins & Padding on everything so they can be fully customised */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Background image added to the body with a backup colour in case the image cannot load,
   Font to be used throughout the pages body */
body {
background-image: url("../images/bar1.webp");
background-color: #000;
background-size: cover;
font-family: 'Quicksand', sans-serif;
}

/* Hides from display */
.hide {
    display: none;
}

/* HEADINGS & TEXT */
/* Page Title */
h1 {
    font-family: 'Almendra', serif;
    font-size: 8rem;
    font-weight: 700;
    font-style: italic;
    color: #f5f5f5;
    text-align: center;
    text-shadow: 10px 10px 10px #a50c3c;
}

h2 {
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
    padding-bottom: 3rem;
}

p {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 3rem;
}

/* CONTAINERS */
/* Flex container*/
.flex-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;

}

/* Outer Container */
#outer-container {
    background-color: #292929;
    opacity: 0.9;
    width: 80%;
    margin: auto;
    padding: 3rem;
    color: #f5f5f5;
}

.btn-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#choices {
    display: grid;
    grid-gap: 1rem;
}


/* Button Styling */
button {
    font-size: 2rem;
    font-weight: 400;
    padding: 0.75rem;
    background-color: #000;
    border-radius: 1rem;
    color: #f5f5f5;
    margin: 0.75rem;

}

/* Button on hover */
button:hover {
    background-color: #f5f5f5;
    color: #000;
    font-weight: 700;
    border: #000 5px solid;
}

/* MODAL - created using tutorial - https://www.youtube.com/watch?v=XH5OW46yO8I */
/* Making the modal container show on the whole screen, centering the contents */
#modal-container {
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}

/* Changed the modal opacity to be visable */
#modal-container.show {
opacity: 1;
pointer-events: auto;
}

/* Adding a border with rounded corners and padding around the modal content */
#modal-content {
    width: 80%;
    border: #a50c3c 5px solid;
    border-radius: 1rem;
    padding: 4rem;
    color: #f5f5f5;
}

/* adding margin to top of close modal button */
#close-modal {
    margin-top: 3rem;
}


/* MEDIA QUERIES */

/* Mobile Screens*/
@media only screen and (max-width : 480px) {    

#outer-container {
    padding: 1.5rem;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 1.75rem;
    padding-bottom: 1.5rem;
}

p {
    font-size: 1rem;
    padding-bottom: 1.5rem;
}

button {
    font-size: 1.125rem;
    margin: 0.75rem;
}

#modal-content {
    padding: 2rem;
}
}
/* Tablets */
@media only screen and (max-width : 1023px) and (min-width: 768px) {

h1 {
    font-size: 6rem;
}

#outer-container {
    padding: 1.5rem;
}
h2 {
    font-size: 2.5rem;
    padding: 1.5rem;
}

p {
    font-size: 1.25rem;
    padding-bottom: 1.5rem;
}

button {
    font-size: 1.25rem;
    margin: 0.75rem;
}

#modal-content {
    padding: 1.5rem;
}
}