/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,700&family=MedievalSharp&family=Quicksand:wght@400;500;700&display=swap');

/* Removes all margins & Padding on everything so they can be fully customised */
* {
    padding: 0;
    margin: 0;
}
/* Background image added to the body with a backup colour in case the image cannot load,
   Font to be used throughout the pages body */
body {
background-image: url("../images/bar1.webp");
background-color: #000;
background-size: cover;
font-family: 'Quicksand', sans-serif;
}

/* Page Title */
h1 {
    font-family: 'Almendra', serif;
    font-size: 8rem;
    font-weight: 700;
    font-style: italic;
    color: #f5f5f5;
    text-align: center;
    text-shadow: 10px 10px 10px #a50c3c;
}

.hide {
    display: none;
}

/* CONTAINERS */

/* Flex container */
.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
    justify-content: center;
    align-content: center;

}

/* Outer Container */
#outer-container {
    background-color: #292929;
    opacity: 0.9;
    width: 60%;
    margin: 0 auto;
    padding: 3rem;
    color: #f5f5f5;
}

.container-title {
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    padding-bottom: 3rem;
}

.difficulty-btns {
    display: flex;
    justify-content: space-around;
}

.difficulty-btns > button {
    width: 10rem;
}

#choices {
    display: grid;
    grid-gap: 1rem;
}


/* Button Styling */
button {
    font-size: 2rem;
    font-weight: 400;
    padding: 0.75rem;
    background-color: #000;
    border-radius: 1rem;
    color: #f5f5f5;
}